{% extends "base.html" %}

{% block content %}

    <h1>Create New Poll</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=64) }}<br>
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=128) }}<br>
        </p>

        <p id="recipes"></p>
        <p>{{ form.submit() }}</p>

    {% with messages =
     get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}

    <button type="button" class="btn btn-primary" onclick="addRecipe()">Add Recipe Field</button>

    </form>

{% endblock %}