<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" /><!-- custom css -->

    {% if title %}
    <title>{{ title }} - Recipe Ranker</title>
    {% else %}
    <title>Welcome to Recipe Ranker</title>
    {% endif %}
</head>

<!-- TODO responsive pages with xs, sm, md, etc. values-->
<!-- TODO alignment of text, content and row or col content-->

<body>
    <!-- TODO highlight current tab in navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Social Recipe Ranker</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('account') }}">My Account</a></li>

            {% if current_user.is_admin %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('manage_polls') }}">Manage Polls</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('manage_users') }}">Manage Users</a></li>
            {% elif current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('polls') }}">Polls</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('general_polls') }}">Polls</a></li>
            {% endif %}

        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_anonymous %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- TODO header h1 and p contents values handled from routes.py-->
    <header class="container">
        {% if header_title %}
        <h1 class="display-4">{{ header_title }}</h1>
        {% else %}
        <h1 class="display-4">Welcome to Recipe Ranker</h1>
        {% endif %}
        {% if header_desc %}
        <p class="lead">{{ header_desc }}</p>
        {% else %}
        <p class="lead">Recipe Ranker, a CITS3403 Project</p>
        {% endif %}
    </header>

    <main class="container">
        <!-- TODO make flashed messages appear below navbar and have style-->
        <!-- flashed messages -->
        <section class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </section>

        {% block content %}
        {% endblock %}
    </main>

    <!-- TODO footer always bottom of page-->
    <footer class="jumbotron">
        <p id="last_modified">Last Modified</p>
        <p id="current_time">Current Time</p>
    </footer>

    <!-- scripts -->
    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script><!-- custom script -->

</body>

</html>
