<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" /><!-- custom css -->

    {% if title %}
    <title>{{ title }} - Recipe Ranker</title>
    {% else %}
    <title>Welcome to Recipe Ranker</title>
    {% endif %}
</head>

<!-- TODO responsive pages with xs, sm, md, etc. values-->
<!-- TODO alignment of text, content and row or col content-->

<body>
    <!-- TODO highlight current tab in navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">Recipe Ranker</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>

                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('polls') }}">Polls</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user', user_id=current_user.id) }}">My
                        Account</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('general_polls') }}">Polls</a></li>
                {% endif %}

                {% if current_user.is_admin %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('manage_polls') }}">Manage Polls</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('manage_users') }}">Manage Users</a></li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="container m-auto">
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>

        <!-- TODO header h1 and p contents values handled from routes.py-->
        <header class="row">
            <div class="col">
                {% if title %}
                <h1 class="display-4">{{ title }}</h1>
                {% else %}
                <h1 class="display-4">Welcome to Recipe Ranker</h1>
                {% endif %}
                {% if description %}
                <p class="lead">{{ description }}</p>
                {% else %}
                <p class="lead">Recipe Ranker, a CITS3403 Project</p>
                {% endif %}
            </div>
        </header>

        {% block content %}{% endblock %}
    </main>

    <footer class="navbar bg-light text-dark fixed-bottom">
        <p>Authors: Archy & Thomas</p>
        <p id="current_time">Current Time</p>
    </footer>

    <!-- scripts -->
    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script><!-- custom script -->

</body>

</html>