{% extends "base.html" %}

{% block content %}

<!--polls page for non logged in users-->

<div class="row">
    {% for p in polls.query.order_by(polls.date_created) %}
    <div class="col">
        <section class="card">
            <header>
                <h2 class="card-header">{{ p.name }}</h2>
            </header>
            <div class="card-body">
                <h3 class="card-title">{{ p.description }}</h3>
                <ul class="list-group list-group-flush">
                    {% for r in p.recipes.all() %}
                    <li class="list-group-item">
                        <strong> {{ r.name }}: </strong>{{ r.description }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Recipe</th>
                            <th scope="col">Votes</th>
                            <th scope="col">Graph</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% with total_votes = p.votes.all()|length if p.votes.all()|length > 0 else 1 %}
                        {% for r in p.recipes.all() %}
                        <tr class='table-row'>
                            <td>{{ r.name }}</td>
                            <td>{{ r.votes.all()|length }}</td>
                            <td>
                                <div class="voteGraph"
                                    style="width:{{ ((r.votes.all()|length) * 100 / total_votes)|round(2) }}%"><br>
                                </div><span>{{ ((r.votes.all()|length) * 100 / total_votes)|round(2) }}%</span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    {% endfor %}
</div>

{% endblock %}