{% extends "base.html" %}

{% block content %}

<!--TODO-->
<!--home page, all users-->
<!--shows information about current running polls, but not their current standings-->

<div class="row">
    <section class="col">
        <header>
            <h2>Theme</h2>
        </header>
        <p>The theme of the website is social recipe ranking to find the best recipe from a selection curated by
            administrators.</p>
        <p>Each unique user gets one unique vote per poll for their first preference and the winning recipe is the one
            with the highest votes.</p>
</div>

{% endblock %}