{% extends "base.html" %}

{% block content %}

<!-- page for user management, admin only -->
<!-- TODO highlight current user -->
<!-- TODO sortable tables -->

<div class="row">
    <section class="col">
        <header>
            <h2>Manage User Options</h2>
        </header>
        <a class="btn btn-light btn-lg btn-block" href="{{ url_for('add_user') }}">Add a New User</a>
    </section>
</div>

<div class="row">
    <section class="col">
        <header>
            <h2>Users</h2>
        </header>
        <table class="table table-bordered table-hover table-responsive-md">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Registered</th>
                    <th scope="col">Is an Admin</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users.query.all() %}
                <tr class='clickable-table-row' data-href="{{ url_for('user', user_id=u.id) }}">
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.username }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.date_registered.strftime("%Y/%m/%d, %H:%M:%S") }}</td>
                    <td>{{ u.is_admin }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}