{% extends "base.html" %}

{% block content %}

<!-- page for polls management, admin only -->
<!-- TODO sortable tables -->

<div class="row">
  <section class="col">
    <header>
      <h2>Manage Polls Options</h2>
    </header>
    <a class="btn btn-light btn-lg btn-block" href="{{ url_for('add_poll') }}">Create a New Poll</a>
    <a class="btn btn-light btn-lg btn-block" href="{{ url_for('add_recipe') }}">Add a Recipe</a>
  </section>
</div>

<div class="row">
  <section class="col">
    <header>
      <h2>Polls</h2>
    </header>
    <table class="table table-bordered table-hover table-responsive-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Date Created</th>
          <th scope="col">Creator</th>
        </tr>
      </thead>
      <tbody>
        {% for p in polls.query.all() %}
        <tr class='clickable-table-row' data-href="{{ url_for('poll', poll_id=p.id) }}">
          <th scope="row">{{ p.id }}</th>
          <td>{{ p.name }}</td>
          <td>{{ p.date_created.strftime("%Y/%m/%d, %H:%M:%S") }}</td>
          <td>{{ users.query.filter_by(id=p.creator_id).first().username }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

<div class="row">
  <section class="col">
    <header>
      <h2>Recipes</h2>
    </header>
    <table class="table table-bordered table-hover table-responsive-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Date Added</th>
          <th scope="col">Contributor</th>
        </tr>
      </thead>
      <tbody>
        {% for r in recipes.query.all() %}
        <tr class='clickable-table-row' data-href="{{ url_for('recipe', recipe_id=r.id) }}">
          <th scope="row">{{ r.id }}</th>
          <td>{{ r.name }}</td>
          <td>{{ r.date_added.strftime("%Y/%m/%d, %H:%M:%S") }}</td>
          <td>{{ users.query.filter_by(id=r.contributor_id).first().username }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}