{% extends "base.html" %}

{% block content %}

<section class="row">
    <form action="" method="post">
        
        <!-- fields -->
        <fieldset class="form-group">
            <legend>{{ legend }}</legend>
            <div class="form-group">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=64) }}<br>
                </p>
                <p>
                    {{ form.description.label }}<br>
                    {{ form.description(size=128) }}<br>
                </p>
                <p id="recipes"></p>
            </div>                
        </fieldset>

        <!-- messages -->
        <div class="form-group">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
   
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </div>

        <!-- buttons -->
        <div class="form-group">
            <p>{{ form.submit() }}</p>
            <!--TODO add button to remove recipe-->
            <button type="button" class="btn btn-primary" onclick="addRecipe()">Add Recipe Field</button>
        </div>
    </form>
</section>

{% endblock %}
